@namespace Asp_project.ViewModels.Settings

@model SettingDetailVM

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Logo</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.LogoName</td>
                <td>@Model.Email</td>
                <td>@Model.Address</td>
            </tr>
        </tbody>
    </table>
    <a asp-action="Index" class="btn btn-primary text-white">Back</a>
</div>



