@namespace Asp_project.ViewModels.Settings

@model SettingEditVM

<div class="container mt-5">

    <form class="form-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <input asp-for="LogoName" type="text" class="form-control" maxlength="50" />
            <span class="text-danger" asp-validation-for="LogoName"></span>

            <input asp-for="Email" type="text" class="form-control" maxlength="50" />
            <span class="text-danger" asp-validation-for="Email"></span>

            <input asp-for="Address" type="text" class="form-control" maxlength="50" />
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary text-white">Back</a>
    </form>
</div>